  <div class="comment">
      <div class="group_area">
        <div class="group_area_content">
          <h2>グループ：</h2>
          <% current_user.groups.each do |group| %>
          <div class="group_area_list">
            <%= link_to group_comments_path(group) do %>
              <div class="group_area_name"><%= group.name %></div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>

      <div class="comment_area">
        <div class="comment_area_box">
          
        <%# <%= render @comment  %> 
        <%= render partial: 'comment',locals: { comment: @comment }, collection: @comments %>

          <%# <% @comments.each do |comment| %>
            <%# <div class="comment_area_box_comment"> %>
            <%# <%= comment.content %>
            <%# </div> %>
          <%# <% end %>
        </div>
      </div>

      <div class="comment_area_message-form">
        <%= form_for [@group,@comment], url: group_comments_path do |f| %>
          <%= f.text_field :content, class:"comment_form", size:30, placeholder:"メッセージ" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
  </div>
