<div class="group">
  <h2>グループ編集</h2>
  <%= form_for @group, id: 'new_group', class: 'new_group', local: true do |f| %>

  <div class="group_form_name">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <p>追加したいメンバーにチェックを入れてください</p>
  <div class="group_form_member">
    <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
  </div>

  <div class="group_form_member-list">
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>

  <% end %>
</div>