<div class="group">
  <h2>グループ作成</h2>
  <%= form_for @group, id: 'new_group', class: 'new_group', local: true do |f| %>


    <div class="group_form_name">
      <%= f.label :"グループ名を入力してください" %><br />
      <%= f.text_field :name %>
    </div>

  <div class="group_form_member-list">
    <p>追加したいユーザー名を入力してください</p>
    <input id="group_form_member-search">

  <div id="group_form_member-search-result"></div>

  <div id="groupUser.js-add-user"></div>

  <div class="current_group-member"><br>
    <p>グループメンバー</p>

    <br>
    <br>
    <p>追加したいメンバーにチェックを入れてください</p>
    <div class="group_form_member">
      <%= f.collection_check_boxes :user_ids, User.all, :id, :name %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>

  <% end %>
</div>