  <div class="list">
    <div class="list_area">
      <div class=list_area_item>
        <% @items.each do |item| %>
          <div class="list_area_item-list">
            <% if @group.already_liked?(item) %>
              <%= link_to group_item_like_path(item_id: item.id, id: item.likes.find_by(group_id: @group.id)), method: :delete do %>
              <button class="item_button_liked" id= "<%= item.id %>"><%= item.name %></button>
                <%= link_to group_item_path(group_id: @group.id, id: item.id), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to group_item_likes_path(item_id: item.id), method: :post do %>
              <button class="item_button_not-liked" id= "<%= item.id %>"><%= item.name %></button>
                <%= link_to group_item_path(group_id: @group.id, id: item.id), method: :delete, data: {confirm: "アイテム『#{item.name}』を削除しますか？"} do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="list_area_imput-form">
      <%= form_for [@group,@item], url: group_items_path do |f| %>
        <%= f.text_field :name, class:"", size:30, placeholder:"メモ" %>
        <%= f.submit "追加" %>
      <% end %>
    </div>

  </div>
